<div class="progress-steps">
	<div class="progress-div">
		<div class="step active">
			<img class="icon" src="Images/correct-xs.png">
		</div>
		<div class="space"></div>
		<div class="step">
			<img class="icon" src="Images/correct-xs.png">
		</div>
	</div>
</div>