<div class="progress-steps">

	<div class="progress-div">
		{% for i in 0..totalSteps-1 %}
			{% if i > 0 %}
			<div class="space {{ i < currentStep-1 ? 'active' : (i == currentStep-1 ? 'current' : 'next')}}"></div>
			{% endif %}

			<div class="step {{ i < currentStep-1 ? 'active' : (i == currentStep-1 ? 'current' : 'next')}}">
				<img class="icon" src="/app/img/correct-xs.png">
			</div>
		{% endfor %}
	</div>

</div>