<h2 class="title">Opprett ny bruker</h2>
<small class="under-title">Vi trenger litt mer informasjon om deg</small>

<div class="login register">
	<div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info">
			<img class="tel-icon svg" src="/app/img/user.svg">
			<p class="text">Fornavn</p>
		</div>
		<input id="registerName" class="tel-input focus-style-js-input" autocomplete="on" type="text" name="name">
	</div>
    <div id="registerNameError" class="info-feil not-visible">
		<p class="icon">!</p>
		<span class="text">Fornavn er ikke gyldig!</span>
	</div>

    <div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info">
			<img class="tel-icon svg" src="/app/img/user.svg">
			<p class="text">Etternavn</p>
		</div>
		<input id="registerLastname" class="tel-input focus-style-js-input" autocomplete="on" type="text" name="surname">
	</div>
    <div id="registerSurnameError" class="info-feil not-visible">
		<p class="icon">!</p>
		<span class="text">Etternavn er ikke gyldig!</span>
	</div>

	<div class="group-inputs-horizontal">
		<div class="item-of-group">
			<div class="tel-nr ukm-input login-input-style focus-style-js">
				<div class="info">
					<object class="tel-icon svg" data="/app/img/cake.svg" width="15" height="15"> </object>
					<p class="text">Fødselsdato</p>
				</div>

				<div class="group-inputs-horizontal">
					<div class="item-of-group">
						<input id="registerDay" class="tel-input input-center focus-style-js-input" type="tel" maxlength="2">
					</div>

					<div class="group-inputs-separator"></div>
					
					<div class="item-of-group register-month">
						<select id="registerMonth" class="tel-input focus-style-js-input">
							<option month="01">Januar</option>
							<option month="02">Februar</option>
							<option month="03">Mars</option>
							<option month="04">April</option>
							<option month="05">Mai</option>
							<option month="06">Juni</option>
							<option month="07">Juli</option>
							<option month="08">August</option>
							<option month="09">September</option>
							<option month="10">Oktober</option>
							<option month="11">November</option>
							<option month="12">Desember</option>
						</select>
					</div>

					<div class="group-inputs-separator"></div>

					<div class="item-of-group">
						<input id="registerYear" class="tel-input input-center focus-style-js-input" type="text" name="age" maxlength="4">
					</div>
				</div>
			</div>
			<div id="registerDayError" class="info-feil not-visible">
				<p class="icon">!</p>
				<span class="text">Dag er ikke gyldig, skriv tall!</span>
			</div>
			<div id="registerMonthError" class="info-feil not-visible">
				<p class="icon">!</p>
				<span class="text">Måned er ikke gyldig, skriv tall!</span>
			</div>
			<div id="registerYearError" class="info-feil not-visible">
				<p class="icon">!</p>
				<span class="text">År er ikke gyldig (skriv f.eks. 1999)</span>
			</div>
		</div>

		{# <div class="item-of-group">
			<div class="tel-nr ukm-input login-input-style focus-style-js">
				<div class="info focused">
					<object class="tel-icon svg" data="/app/img/cake.svg" width="15" height="15"> </object>
					<p class="text">Måned</p>
				</div>
				<select id="registerMonth" class="tel-input focus-style-js-input">
					<option month="01">Januar</option>
					<option month="02">Februar</option>
					<option month="03">Mars</option>
					<option month="04">April</option>
					<option month="05">Mai</option>
					<option month="06">Juni</option>
					<option month="07">Juli</option>
					<option month="08">August</option>
					<option month="09">September</option>
					<option month="10">Oktober</option>
					<option month="11">November</option>
					<option month="12">Desember</option>
				</select>
			</div>
			<div id="registerMonthError" class="info-feil not-visible">
				<p class="icon">!</p>
				<span class="text">Måned er ikke gyldig, skriv tall!</span>
			</div>
		</div> #}

		{# <div class="item-of-group">
			<div class="tel-nr ukm-input login-input-style focus-style-js">
				<div class="info">
					<object class="tel-icon svg" data="/app/img/cake.svg" width="15" height="15"> </object>
					<p class="text">År</p>
				</div>
				<input id="registerYear" class="tel-input focus-style-js-input" type="text" name="age" maxlength="4">
			</div>
			<div id="registerYearError" class="info-feil not-visible">
				<p class="icon">!</p>
				<span class="text">År er ikke gyldig (skriv f.eks. 1999)</span>
			</div>
		</div> #}

	</div>


	<div id="chooseAge" class="choose-age not-visible" year="">
		<div class="choose">
			<button class="select-value select-age">
				<span class="text first"></span>
			</button>

			<button class="select-value select-age">
				<span class="text second"></span>
			</button>
		</div>

	</div>

    <div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info">
            <object class="tel-icon svg" data="/app/img/lock-closed.svg" width="15" height="15"> </object>

			<p class="text">Passord</p>
		</div>
		<input id="registerPassword" class="tel-input show-hide-input focus-style-js-input" type="password" name="password">
		<div class="show-hide">
			<button id="showHidePassword" type="button" class="show-hide-password mini-round-style">vis</button>
		</div>
	</div>
	<div id="registerPasswordError">
		
	</div>
    
    
</div>

<div class="next-button">
	<button type="button" class="ukm-button-primary button half-color left render-page-click" to-page="0">
		<img class="icon" src="/app/img/chevron-back.png">
	</button>

	<button id="registerInfoNext" class="ukm-button-primary button right">
		<span class="text">Neste</span>
		<img class="icon" src="/app/img/chevron.png">
	</button>
</div>


<script>
    // Validate empty input
    var verifyEmpty = (inputId, errorId, verify = false) => {
        $(inputId).blur(() => {
            if($(inputId).val().length > 0) {
                $(errorId).addClass('not-visible');
                return;
            }
            $(errorId).removeClass('not-visible');
        });
        $(inputId).on('input', () => {
            $(errorId).addClass('not-visible');
        });

		
		if(verify && $(inputId).val().length < 1) {
			$(errorId).removeClass('not-visible');
		}

		return $(inputId).val().length > 0;
	}
	
	var verifyLength = (inputId, errorId, length) => {
		if($(inputId).val().length < length) {
			$(errorId).removeClass('not-visible');
			return false;
		}
		else {
			$(errorId).addClass('not-visible');
			return true;
		}
	}

    // Validate name field
    verifyEmpty('#registerName', '#registerNameError');
    // Validate surname field
    verifyEmpty('#registerLastname', '#registerSurnameError');
	// Validate day field
	verifyEmpty('#registerDay', '#registerDayError');
	// Validate year field
	verifyEmpty('#registerYear', '#registerYearError');


	// Validate age
	$('#registerAge').on('input', (e) => {
		var val = $(e.currentTarget).val();
		var chooseArr = [];
		var el = $('.choose-age');
		var year = new Date().getFullYear();
		
		el.attr('year', 'null');
		el.addClass('not-visible');
		$('#registerAgeError').addClass('not-visible');

		if(val.length < 1) {
			return;
		}
		
		if(isNaN(val) || val > 150) {
			$('#registerAgeError').removeClass('not-visible');
			return;
		}
		
		chooseArr[0] = val + ' år ' + `<span class="under current-age">(født i ${year-val})</span>`;
		chooseArr[1] = val + ' år ' + `<span class="under current-age">(født i ${year-val-1})</span>`;
		
		console.log(el);

		el.removeClass('not-visible');
		el.find('.text.first').html(chooseArr[0]).parent().attr({'year': year-val, 'age': val})
		el.find('.text.second').html(chooseArr[1]).parent().attr({'year': year-val-1, 'age': val});
	});

	$('#chooseAge .choose button').click((e) => {
		var year = $(e.currentTarget).attr('year');
		var age = $(e.currentTarget).attr('age');

		$('.choose-age').attr({'year': year, 'age': age}).addClass('not-visible');
	});

	// Password validation
	$('#registerPassword').on('input', (e) => {
		validatePassword($(e.currentTarget).val(), $('#registerPasswordError'));
	});

	var addErrorMessage = (errorEl, message, error = false) => {
		errorEl.append(`
			<div class="info-feil ${error ? ' error' : ''}">
				<p class="icon">!</p>
				<span class="text">${message}</span>
			</div>`
		);
	}


	$('#registerInfoNext').click(() => {
		var valid = true;
		// Verifiserer navn, etternavn og alder er ikke tomme
		if(!verifyEmpty('#registerName', '#registerNameError', true)){
			valid = false;
		}
		if(!verifyEmpty('#registerLastname', '#registerSurnameError', true)) {
			valid = false;
		}
		if(!verifyEmpty('#registerDay', '#registerDayError', true)) {
			valid = false;
		}
		if(!verifyEmpty('#registerYear', '#registerYearError', true)) {
			valid = false;
		}

		// year length must be 4
		if(!verifyLength('#registerYear', '#registerYearError', 4)) {
			valid = false;
		}
		// Verifiserer password
		if(!validatePassword($('#registerPassword').val(), $('#registerPasswordError'), true)) {
			valid = false;
		}

		if(valid === true) {
			createUser();
			
			// TEMPORARY ---------------------------------------------------------------- REMOVE IT ------------------------------------------
			var result = ukmAPI.masterCall(
				'POST', 
				'start-sms-verification.php',
				{
					'tel_nr' : $('#loginTelNr').val()
				}
			).then((result) => {
				$('body').append(result.code);
			})
		}

	});

	// Create user
    var createUser = async (e) => {
        try{
            var data = await ukmAPI.masterCall(
                'POST', 
                'register-new-user.php', 
                {
                    "tel_nr": $('#loginTelNr').val(),
                    "first_name": $('#registerName').val(),
                    "last_name": $('#registerLastname').val(),
                    "birthday": ($('#registerYear').val() + '-' + $('#registerMonth').find(":selected").attr('month') + '-' + $('#registerDay').val()),
                    "password": $('#registerPassword').val()
                }
            );
        }catch(err) {
            console.error(err);
        }

        if(data.result == true) {
            // window.location.href = "/";
			onePage.render('registerNewUserSms');
		}
        else {
            alert('Something went wrong!');
        }
    };


</script>