<h2 class="title">Du får snart en SMS!</h2>
<small class="under-title">Skriv inn koden du får fra oss på telefonen din</small>

<div class="login">
	<div class="input-chain">
		<div class="inputs">
			<input class="tel-input focus-style-js-input" type="text" maxlength="1">
			<input class="tel-input focus-style-js-input" type="text" maxlength="1">
			<input class="tel-input focus-style-js-input" type="text" maxlength="1">
			<button class="icon" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				<span>?</button>
			</button>
		</div>
	</div>

	{# <div class="buttons-div">
					<button id="sendNewPassword" type="button" class="send-new-password">Send nytt passord</button>
				</div> #}
</div>

<div class="login-message collapse" id="collapseExample">
	<p class="text">
		Vi har send deg en engangskode på SMS som må fylles in over for å lage bruker hos UKM. Dette er viktig siden vi sender ut informasjon om arrangementene våre på SMS og kan da være sikre på at du har mottat den informasjonen du har behov for.
	</p>
	<div class="icon">
		<p class="char">i</p>
	</div>
</div>

<div class="next-button">
	<button id="" type="button" class="login-button-style-1 button half-color left render-page-click" to-page="0">
		<img class="icon" src="Images/chevron-back.png">
	</button>

	<button id="loginSend" type="submit" name="login" class="login-button-style-1 button right">
		<span class="text">Logg Inn</span>
		<img class="icon" src="Images/chevron.png">
	</button>
</div>
