<h2 class="title">Send sms til oss!</h2>
<small class="under-title">Send koden til oss</small>

<div class="code-send-via-sms">
	<div class="login-message">
		<p class="text">
			Send denne koden via SMS til <span class="tel-forward">123</span>
		</p>
		<p class="code-forward">
			8ZÅ
		</p>
		<div class="icon">
			<p class="char">i</p>
		</div>
	</div>
</div>

<div class="next-button">
	<button id="" type="button" class="ukm-button-primary button half-color render-page-click" to-page="smsForgotPassword">
		<img class="icon" src="Images/chevron-back.png">
	</button>
</div>













