<h2 class="title">Mobilnummer</h2>
<small class="under-title">Vi trenger mobilnummeret ditt</small>

<div class="login">

	<div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info {{telNr ? 'focused' : ''}}">
			<img class="tel-icon" src="/app/img/tel.png">
			<p class="text">Mobilnummer</p>
		</div>
		<input id="providerTelNr" class="tel-input focus-style-js-input" autocomplete="on" type="tel" name="username">
	</div>


	<div id="providerTelNrError">

	</div>

	<div class="next-button">
		<button id="providerTelNrNext" type="button" class="ukm-button-primary button">
			<span class="text">Neste</span>
			<img class="icon" src="/app/img/chevron.png">
		</button>
	</div>

</div>


<script>
    $("#providerTelNr").keyup(() => {
        var telNr = $('#providerTelNr').val();
        $('#providerTelNrError').addClass('not-visible');
        if(telNr.length > 5) {
            verifyTelNr($("#providerTelNr"), $('#providerTelNrError'));
        }
    });

	$('#providerTelNrNext').click(async () => {
        var data = await ukmAPI.masterCall(
            'GET',
            'user-exists.php',
            {
                "tel_nr": $('#providerTelNr').val()
            }
        );
        
        // User exists, stop the process
        if(data.result == true) {
            addErrorMessage($('#providerTelNrError'), 'En bruker med telefonnummer <b>' + $('#providerTelNr').val() + '</b> eksisterer allerede. <a href="/">Trykk her for å logge inn</a>', true);
            // onePage.render('password');
        }
        else {
            onePage.addArgument('task', 'provider');
            onePage.render('registerNewUserSms');

            // Start sms verification
            console.log('aa');
            var result = ukmAPI.masterCall(
                'POST', 
                'start-sms-verification.php',
                {
                    'tel_nr' : $('#providerTelNr').val()
                }
            );
        }
    });


</script>