<h2 class="title">Heisann!</h2>
<small class="under-title">Her kan du lage en bruker eller logg inn</small>

<div class="login">
	<div id="fb-root">
		<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false">
		</div>
	</div>

	<div class="separator">
		<div class="line"></div>
		<div class="text">
			<span>eller</span>
		</div>
	</div>

	<div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info">
			<img class="tel-icon" src="/app/img/tel.png">
			<p class="text">Mobilnummer</p>
		</div>
		<input id="loginTelNr" class="tel-input focus-style-js-input" autocomplete="on" type="tel" name="username">
	</div>


	<div id="telNrError" class="info-feil not-visible">
		<p class="icon">!</p>
		<span class="text"></span>
	</div>

	{% if errorMessage %}
		<div id="" class="info-feil error">
			<p class="icon">!</p>
			<span class="text">{{errorMessage}}</span>
		</div>
	{% endif %}

	<div id="messageError" class="info-feil error hide">
		<p class="icon">!</p>
		<span class="text"></span>
	</div>

	<div class="next-button">
		<button id="loginNext" type="button" class="ukm-button-primary button">
			<span class="text">Neste</span>
			<img class="icon" src="/app/img/chevron.png">
		</button>
	</div>

</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="7A1rQmZR"></script>
