<h2 class="title">Heisann!</h2>
<small class="under-title">Her kan du lage en bruker eller logg inn</small>

<div class="login">

	<div class="next-button">
		<a href="{{ facebookUrl }}" type="button" class="ukm-button-primary service-provider-button-style button">
			<div class="icon">
				<img src="/app/img/facebook.png" />
			</div>
			<span class="text">Logg inn med facebook</span>
		</a>

	</div>
	<div class="next-button">
		<button id="signinButtonGoogle" type="button" class="ukm-button-primary service-provider-button-style button">
			<div class="icon">
				<img src="/app/img/google.png" />
			</div>
			<span class="text">Logg inn med Google</span>
			<script>
			$('#signinButtonGoogle').click(function() {
				// signInCallback defined in step 6.
				auth2.grantOfflineAccess().then(signInCallback);
			});
			</script>
		</button>

	</div>

	<div class="separator">
		<div class="line"></div>
		<div class="text">
			<span>eller</span>
		</div>
	</div>

	<input id="redirectIdInput" class="hide" name="redirectId">
	<div class="tel-nr ukm-input login-input-style focus-style-js">
		<div class="info {{telNr ? 'focused' : ''}}">
			<img class="tel-icon" src="/app/img/tel.png">
			<p class="text">Mobilnummer</p>
		</div>
		<input id="loginTelNr" value="{{telNr ? telNr : ''}}" class="tel-input focus-style-js-input" autocomplete="on" type="tel" name="username">
	</div>


	<div id="telNrError" class="info-feil not-visible">
		<p class="icon">!</p>
		<span class="text"></span>
	</div>

	<div id="messageError" class="info-feil error hide">
		<p class="icon">!</p>
		<span class="text"></span>
	</div>

	<div class="next-button">
		<button id="loginNext" type="button" class="ukm-button-primary button">
			<span class="text">Neste</span>
			<img class="icon" src="/app/img/chevron.png">
		</button>
	</div>

</div>
