<h2 class="title">Vilkår</h2>
<small class="under-title">Vi trenger litt mer informasjon om deg</small>

<div class="login">
    
</div>

<div class="vilkaar-item">
    <div class="vilkaar-header">
        <div class="img">
            <object class="svg" data="Images/lock-closed.svg" width="40" height="40"> </object>
        </div>
        <div class="info">
            <h5>DATALAGRING</h5>
            <p class="text">
                Vi lagrer påmeldingen din, men selger aldri informasjonen videre til andre
            </p>
        </div>
    </div>

    <p class="text">
        Offentlig informasjon (navn, hva du har deltatt med osv) lagrer vi på UKM.no og i arkivet, mens andre detaljer slettes hvert år- Vi lagrer også mobilnummeret ditt. Dette gjør vi så du kan hente ut alt vi har lagret om deg, og så vi kan sende informasjon knyttet til din deltakelse
    </p>
</div>

<div class="next-button">
	<button type="button" class="login-button-style-1 button half-color left render-page-click" to-page="0">
		<img class="icon" src="Images/chevron-back.png">
	</button>

	<button id="createUser" class="login-button-style-1 button right">
		<span class="text">Neste</span>
		<img class="icon" src="Images/chevron.png">
	</button>
</div>


<script>
    // Create user
    $('#createUser').click(async (e) => {
        try{
            var data = await ukmAPI.masterCall(
                'POST', 
                'register-new-user.php', 
                {
                    "tel_nr": $('#loginTelNr').val(),
                    "first_name": $('#registerName').val(),
                    "last_name": $('#registerLastname').val(),
                    "birthday": ($('#registerYear').val() + '-' + $('#registerMonth').val() + '-' + $('#registerDay').val()),
                    "password": $('#registerPassword').val()
                }
            );
        }catch(err) {
            console.error(err);
        }

        if(data.result == true) {
            window.location.href = "/login-or-register.php";
        }
        else {
            alert('Somthineg went wrong!');
        }
    });
</script>