<h2 class="title">Vilkår</h2>
<small class="under-title">Vi trenger litt mer informasjon om deg</small>

<div class="login">
    
</div>

<div class="vilkaar-item">
    <div class="vilkaar-header">
        <div class="img">
            <object class="svg" data="/app/img/lock-closed.svg" width="40" height="40"> </object>
        </div>
        <div class="info">
            <h5>DATALAGRING</h5>
            <p class="text">
                Vi lagrer påmeldingen din, men selger aldri informasjonen videre til andre
            </p>
        </div>
    </div>

    <p class="text">
        Offentlig informasjon (navn, hva du har deltatt med osv) lagrer vi på UKM.no og i arkivet, mens andre detaljer slettes hvert år- Vi lagrer også mobilnummeret ditt. Dette gjør vi så du kan hente ut alt vi har lagret om deg, og så vi kan sende informasjon knyttet til din deltakelse
    </p>
</div>

<div class="next-button">

	<button id="godtaVilkaar" class="ukm-button-primary button">
		<span class="text">Godta</span>
		<img class="icon" src="/app/img/chevron.png">
	</button>
</div>


<script>

    $('#godtaVilkaar').click(async () => {
        alert('aaa');
        try{
            var data = await ukmAPI.masterCall(
                'POST', 
                'accept-vilkaar.php',
			);
			
			if(data.result == true){
				window.location.href = '/';
			}
			else{
				console.error('Vilkaar ble ikke lagret');
			}
        }catch(err) {
            console.error(err);
        }
    });

</script>
