{% extends "Layout.html.twig"|UKMpath %}

{% block content %}

<div class="container-fluid ukm-bolge nop">
	<div class="div-radius"></div>
	<div class="background-space">
		
	</div>
</div>

<div class="container one-page-container">

	<div class="col-xs-12 login">
		<form class="form-signin" role="form" autocomplete="on" action="/" method="post">
		<!-- PAGE 0 Telephone Number - Username  -->	
			<div class="ukm-card col-xs-12 one-page-page" page-id="0">
				{% include "Part/Username.html.twig" with {'facebookUrl' : facebookUrl} %}
			</div>

		<!-- PAGE 1 - Password -->
			<div class="ukm-card password col-xs-12 one-page-page" page-id="password">
				{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
				{% include "Part/Passord.html.twig" %}
			</div>
		</form>
	</div>

	<div class="ukm-card password col-xs-12 one-page-page" page-id="newPassword">
		{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
		{% include "Part/newPassword.html.twig" %}
	</div>

	<!-- PAGE 2 - SMS Verification - forgot password -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="smsForgotPassword">
		{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
		{% include "Part/Sms.html.twig" with {'renderId': 'forgotPassword', 'nextPage': '-1', 'prevPage' : 'smsForgotPassword'} %}
	</div>

	<!-- Register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="registerNewUser">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 2} %}
		{% include "Part/Register.html.twig" with {'nextPage': '-1'} %}
	</div>

	<!-- PAGE 3 - SMS Verification - register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="registerNewUserSms">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 3} %}
		{% include "Part/Sms.html.twig" with {'renderId': 'verifyUser', 'nextPage': 'vilkaar', 'prevPage' : 'registerNewUserSms'} %}
	</div>

	<!-- Register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="vilkaar">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 4} %}
		{% include "Part/Vilkaar.html.twig" with {'nextPage': '-1'} %}
	</div>

	<!-- SMS Forward -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="smsForward">
		{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
		{% include "Part/SMSForward.html.twig" with {'nextPage': '-1'} %}
	</div>

	<div class="ukm-card col-xs-12 one-page-page" page-id="telNrProvider">
		{% include "Part/TelNrProvider.html.twig" with {'facebookUrl' : facebookUrl} %}
	</div>
</div>
<script src="app/js/one-page.js"></script>
<script src="app/js/login-functions.js"></script>

<script>
	var onePage = new OnePage();
	var ukmAPI = new UkmAPI();

	// Append redirectedId to input element if it exists
	$('#redirectIdInput').val(onePage.getArgument('redirectId'));


	var viewId = '{{ viewId }}';


	if(viewId && viewId.length > 0) {
		onePage.render(viewId);
	}

	
	

	// Login next, verifying tel nr
	$('#loginNext').click(async () => {
		if(verifyTelNr($('#loginTelNr'), $('#telNrError'))) {
			var tel_nr = $('#loginTelNr').val();

			var data = await ukmAPI.masterCall(
				'GET',
				'user-exists.php',
				{
					"tel_nr": $('#loginTelNr').val()
				}
			);
			
			if(data.result == true) {
				onePage.render('password');
			}
			else {
				// Render SMS page for registration
				onePage.render("registerNewUser");
			}
		}
	});
	
	console.log(onePage);

</script>


{% endblock %}