{% extends "Layout.html.twig"|UKMpath %}

{% block content %}

<div class="container-fluid ukm-bolge nop">
	<div class="div-radius"></div>
	<div class="background-space">
		
	</div>
</div>

<div class="container one-page-container">

	<div class="col-xs-12 login">
		<form class="form-signin" role="form" autocomplete="on" action="/login-or-register.php" method="post">
		<!-- PAGE 0 Telephone Number - Username  -->	
			<div class="ukm-card col-xs-12 one-page-page" page-id="0">
				{% include "Part/Username.html.twig" %}
			</div>

		<!-- PAGE 1 - Password -->
			<div class="ukm-card password col-xs-12 one-page-page" page-id="1">
				{% include "Part/Progress.html.twig" %}
				{% include "Part/Passord.html.twig" %}
			</div>
		</form>
	</div>

	<!-- PAGE 2 - SMS Verification - forgot password -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="smsForgotPassword">
		{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
		{% include "Part/Sms.html.twig" with {'renderId': 'forgotPassword', 'nextPage': '-1', 'prevPage' : 'smsForgotPassword'} %}
	</div>

	<!-- Register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="registerNewUser">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 2} %}
		{% include "Part/Register.html.twig" with {'nextPage': '-1'} %}
	</div>

	<!-- PAGE 3 - SMS Verification - register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="registerNewUserSms">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 3} %}
		{% include "Part/Sms.html.twig" with {'renderId': 'verifyUser', 'nextPage': 'vilkaar', 'prevPage' : 'registerNewUserSms'} %}
	</div>

	<!-- Register new user -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="vilkaar">
		{% include "Part/Progress.html.twig" with {'totalSteps': 4, 'currentStep': 4} %}
		{% include "Part/Vilkaar.html.twig" with {'nextPage': '-1'} %}
	</div>

	<!-- SMS Forward -->
	<div class="ukm-card password col-xs-12 one-page-page" page-id="smsForward">
		{% include "Part/Progress.html.twig" with {'totalSteps': 2, 'currentStep': 2} %}
		{% include "Part/SMSForward.html.twig" with {'nextPage': '-1'} %}
	</div>

</div>
<script src="app/js/one-page.js"></script>

<script>
	var onePage = new OnePage();
	var ukmAPI = new UkmAPI();

	var viewId = '{{ viewId }}';


	if(viewId && viewId.length > 0) {
		onePage.render(viewId);
	}

	
	// Add focus on click of the field (div)
	$('.focus-style-js').click((e) => {
		$(e.currentTarget).children('.info').addClass('focused');
		$(e.currentTarget).children('.tel-input').focus();

	});
	// On blur remove the focus if input length is 0
	$('.focus-style-js-input').on('blur', (e) => {
		var el = $(e.currentTarget);
		if(el.val().length < 1) {
			el.parent().children('.info').removeClass('focused');
		}
	});

	// // Login next, verifying tel nr
	// $('#loginNext').click(() => {
	// 	verifyTelNr();
	// });

	// Login next, verifying tel nr
	$('#loginNext').click(() => {
		if(verifyTelNr()) {
			var tel_nr = $('#loginTelNr').val();

			$.ajax({			
				"url": "https://id.ukm.dev/app/api/user-exists.php",
				"method": "POST",
				"data": {
					"tel_nr": $('#loginTelNr').val()
				},
				success: (data) => {
					data = JSON.parse(data);
					if(data.result == true) {
						onePage.render(1);
					}
					else {
						// Render SMS page for registration
						onePage.render("registerNewUser");
					}
				}
			});
			
		}
	});

	function showErrorMessage(msg) {
		$('#messageError').removeClass('hide');
		$('#messageError .text').html(msg);
	}

	$('.render-page-click').click((e) => {
		onePage.render($(e.currentTarget).attr('to-page'));
	});

	$("#loginTelNr").keyup(() => {
		var telNr = $('#loginTelNr').val();
		$('#telNrError').addClass('not-visible');
		if(telNr.length > 5) {
			verifyTelNr()
		}
	});

	// Returns true if the telnr is validated otherwise false
	var verifyTelNr = function() {
		var telNr = $('#loginTelNr').val();
		$('#telNrError').addClass('not-visible');

		// Check if the telNr contains numbers only
		if(isNaN(telNr)){
			$('#telNrError').removeClass('not-visible').children('.text').text(`Telefonnummeret er ikke gyldig`);
		}
		// Tel nr is not equals to 8, show error
		else if(telNr.length < 8) {
			$('#telNrError').removeClass('not-visible').children('.text').text(`Det mangler ${8 - telNr.length} tall i telefonnummeret`);
		}
		else if(telNr.length > 8) {
			$('#telNrError').removeClass('not-visible').children('.text').text(`Det er for mange tall i telefonnummeret`);
		}
		else {
			return true;
		}
		return false;
	}

	$('.show-hide-password').click((e) => {
		var el = $(e.currentTarget);
		var input = el.parent().parent().children('.show-hide-input');

		console.log('a');

		if(input.attr('type') == 'password') {
			input.attr('type', 'text');
			el.text('skjul');
		}
		else {
			input.attr('type', 'password');
			el.text('vis');
		}
	});

	
	console.log(onePage);

</script>


{% endblock %}