{% extends ("UKMDesign/Layout/base.html.twig")|UKMpath %}


{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container-fluid top-background nop">
	<div class="div-radius"></div>
	<div class="background-space">
		
	</div>
</div>

<div class="container">
	<div class="col-xs-12 one-page-page" page-id="0">
		<div class="login-box-style col-xs-12">
			<h2 class="title">Heisann!</h2>
			<small class="text-muted">Her kan du lage en bruker eller logg inn</small>

			<div class="login">
				<button class="login-with-facebook login-input-style">
					<img class="logo-fb" src="Images/facebook.png">
					<span class="title">Logg inn med facebook</span>
				</button>

				<div class="separator">
					<div class="line"></div>
					<div class="text">
						<span>eller</span>
					</div>
				</div>

				<div class="tel-nr input-div login-input-style focus-style-js">
					<div class="info">
						<img class="tel-icon" src="Images/tel.png">
						<p class="text">Mobilnummer</p>
					</div>
					<input class="tel-input focus-style-js-input" type="tel" name="tel_nr" required>
				</div>

				<div class="info-feil">
					<span class="icon">!</span>
					<span class="text">Det mangler 1 tall i telefonnummeret</span>
				</div>

				<div class="next-button">
					<button class="login-button-style-1">
						<span class="text">Neste</span>
						<img class="icon" src="Images/chevron.png">
					</button>
				</div>

			</div>

		</div>
	</div>

</div>

<script>
	$('.focus-style-js').click((e) => {
		console.log('a');
		$(e.currentTarget).children('.info').addClass('focused');
		$(e.currentTarget).children('.tel-input').focus();

	})
	$('.focus-style-js-input').on('blur', () => {
		if($('.login-box-style .login .input-div .tel-input').val().length < 1) {
			$('.login-box-style .login .input-div .info').removeClass('focused');
		}
	})
</script>


{% endblock %}